body {
	font-family: 'Droid Sans', serif; font-size: 14px;
	background: #f0f0f0;
}

a:link, a:visitied {
  text-decoration:  none;
  color:            #383838;
} 

a:hover, a:active {
  text-decoration:  none;
  color:            #ff2b06;
}

hr {
	visibility: hidden;
} 

p {
	margin: 14px 0;
}

em {
	font-style: italic;
}

h1 {
	margin-bottom: 30px;
	bottom-border: 1px dotted #ddd;
	font-size: 40px;
}

h2 {
	margin-bottom: 20px;
	bottom-border: 1px dotted #ddd;
	font-size: 30px;
}

h3 {
	margin-bottom: 20px;
	font-size: 25px;
}

#site {
	max-width: 900px;
	margin: 0 auto;
}

#title_image {
	position: relative;
	witdh: 900px;
	height: 150px;
	background-image:url('/images/banner.jpg');
	background-repeat: no-repeat;
}

#title {
	position: absolute;
	top: 100px;
	left: 30px;
	font-size: 40px;
	font-weight: bold;
	opacity: 0.7;
}
#title a {
	color: #e0e0e0;
	text-decoration: none
}


h1 {
	bottom-border-style: dotted;
	bottom-border-width: 1px;
	bottom-border-color: #ddd;
} 

h2 {
	bottom-border-style: dotted;
	bottom-border-width: 1px;
	bottom-border-color: #ddd;
} 

#nav {
	text-align: center;
	background-image: linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -o-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -moz-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -webkit-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -ms-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, #C8C8C8),
		color-stop(0.94, #E6E8E8)
	);
	color: #383838;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #8c8c8c;
	height: 25px;
}

#nav ul {
	/* width: 100%; */
	list-style-type: none;
	margin: 0;
	padding: 4px;
	overflow: hidden;
}

#nav ul li {
	display: inline;
}


#nav a:link, #nav a:visited {
	color: #383838;
	text-align: center;
	padding: 5px;
	text-decoration: none
}
#nav a:hover, #nav a:active {
	color: #ff2b06;
	text-decoration: none
}

.post a:link, .post a:visited {
	color: #383838;
	text-decoration: none
}

.post a:hover, .post a:active {
	color: #ff2b06;
	text-decoration: none
}


.post .title{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.5em;
	text-decoration: none;
}

.post .date{
        margin-bottom: 10px;
}

.post .excerpt{
        margin-top: 10px;
        font-size: 14px;
}


