
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #383838;
} 

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            blue;
}
 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:            #ff2b06;
}
 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color:            white;
}


#site {
	max-width: 900px;
	margin: 0 auto;
}

#title_image {
	position: relative;
	witdh: 900px;
	height: 150px;
	background-image:url('/images/banner.jpg');
	background-repeat: no-repeat;
}

#title {
	position: absolute;
	top: 100px;
	left: 30px;
	font-size: 40px;
	font-weight: bold;
}
#title a:link{
	color: white;
}
#title a:visited {
	color: white;
}
#title a:hover {
	color: white;
}

body {
	font-family: 'Droid Sans', serif; font-size: 14px;
}



#nav {
	text-align: center;
	background-image: linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -o-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -moz-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -webkit-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -ms-linear-gradient(bottom, #C8C8C8 47%, #E6E8E8 94%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, #C8C8C8),
		color-stop(0.94, #E6E8E8)
	);
	/*-webkit-border-radius: 5px;*/
	color: #383838;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #8c8c8c;
}

#nav ul li {
	display: inline;
	padding-left: 20px;
}

#nav a:link{
	color: #383838;
}
#nav a:visited {
	color: #383838;
}
#nav a:hover   {
	color: #ff2b06;
}


