
#site {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	font-family: 'Droid Sans', serif; font-size: 14px;
}


#title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav {
	text-align: center;
	padding: 5px 0;
}

