<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="claws, python, programming, home automation, technology" />
    <meta name="author" content="claws" />
    <title>{{ page.title }}</title>
  </head>

  <div id='header'>
    <div id='sections'>
      <div>
        <a href="/about.html">about</a>
      </div>
    </div>
  </div>

  <body>
    <header>
      <h1><a href="/">claws</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
