<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="claws, blog, python, twisted, programming, technology, tech, frameworks, home automation, technology" />
    <meta name="author" content="claws" />
    <meta name="description" content="{{ page.meta-description }}" />
    <link rel="canonical" href={{page.url | canonical }}" />
    <!-- <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu"> -->
    <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ site.url}}/atom.xml" />
    <!-- <link rel="apple-touch-icon" href="http://doingthedishes.com/apple-touch-icon.png" /> -->
    <title>{{ page.title }}</title>
  </head>
  <body>

    <div id="site">
      <div id='header'>
        <div id='nav'>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html" title="Archive">Archive</a></li>
            <li><a href="/about.html" title="About me">About</a></li>
            <li><a href="/resume.html" title="Things I've done professionally">Resume</a></li>
            <li><a href="/sitemap.xml" title="Sitemap">Sitemap</a></li>
            <li><a href="/tags.html" title="Categories">Categories</a></li>
            <li><a href="/atom.xml" rel="subscribe via RSS" title="subscribe via RSS">RSS</a></li>
          </ul>
        </div>
        <div id="title_image">
          <div id="title">
            <a href="/">chris laws</a>
          </div>
        </div>
        <br />
      </div>
  
      <div class="content">
        {{ content }}
      </div>

      <div class="footer"></div>
      <br />
      <br />
    </div>
  </body>
</html>
